# Stripe API
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/


# Github API
GITHUB_ID=
GITHUB_SECRET=

# Fauna API
FAUNADB_SECRET_KEY=

# JWT
SIGNING_KEY=

# PRISMIC
PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=